* {
    padding: 0;
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.main {
    text-align: center;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('http://traversymedia.com/downloads/assets/beachshowcase.jpg');
    color: rgb(146, 98, 57);
}

.main h1 {
    font-size: 3.125em;
    padding-top: 23%;
}

.main p {
    font-size: 1.25em;
    margin: 10px;
}

.btn {
    font-size: 1.1em;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: currentColor;
    border: 1px solid currentColor;
    border-radius: 15px;
}

.btn:hover {
    background-color: rgb(146, 98, 57);
    color: #fff;
}

.p {
    background-color: rgb(146, 98, 57);
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 1.125em;
}

.p-w {
    background-color: white;
    color: rgb(146, 98, 57);
    padding: 20px;
    text-align: center;
    font-size: 1.125em;
}

.all-p {
    display:inline-flex;
}

.p-f {
    width: 33%;
    background-color: rgb(146, 98, 57);
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 1.125em;
}


.p-2 {
    background-color: #F9F9F9;
    color: rgb(146, 98, 57);
    padding: 20px;
    text-align: center;
    font-size: 1.125em;
}